<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Self-Training System</title>
    <link rel="stylesheet" href="static/css/style.css"> <!-- Link to CSS -->
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="logo">Smart Self-Training</div> <!-- Project Title -->
        
        <div class="nav-buttons">
            <a href="/login">
                <button class="btn">Login</button>
            </a>
            <a href="/register"><button>Register</button></a>
            <a href="/about"><button>About</button></a>
            <a href="/contact"><button>Contact</button></a>

        </div>
        
    </header>

    <!-- Main Content -->
    <div class="main-content">
        <h1 class="header-title">Welcome to Smart Self Training System</h1>

        <p class="moving-text">Your personal AI-based sports training assistant!</p>


       
        
    </div>
    <footer>
        <p>&copy; 2025 Smart Self-Training System.</p>
    </footer>
    

</body>
</html>
